<div class="col-md-12 mb-3">
  <div class="card">
    <div class="card-header">Registracijų sąrašas</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Vardas</th>
          <th>Pavardė</th>
          <th>Gim. Metai</th>
          <th>Lytis</th>
          <th>El. Paštas</th>
          <th>Tel. numeris</th>
          <th>Klasė</th>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let registration of registrations">
          <td>{{ registration.name }}</td>
          <td>{{ registration.surname }}</td>
          <td>{{ registration.year }}</td>
          <td>{{ registration.gender }}</td>
          <td>{{ registration.email }}</td>
          <td>{{ registration.phone }}</td>
          <td>{{ registration.Class }}</td>
          <td>
            <a class="btn btn-success" [routerLink]="['/edit',registration.id]">Redaguoti</a>&nbsp;
            <button type="button" class="btn btn-danger" (click)="onDeleteClick(registration.id)">Ištrinti</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
