<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Techninė apžiūra</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link " routerLink="/">Registracijų sąrašas</a>
        <a class="nav-link " routerLink="/new">Pridėti naują registraciją</a>

      </div>
      
    </div>
    <a *ngIf="!isLoggedin" class="btn btn-success float-end" routerLink="/auth">Prisijungti</a>
    <button *ngIf="isLoggedin" class="btn btn-info float-end" (click)="logout()">Atsijungti</button>
  </div>
</nav>
